* {
	padding:0;
    margin:0;
    border: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
	box-sizing: border-box;
}
a, p{
    font-family: 'Arial Unicode MS';
    color: #ffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    color: #ffff;
}

body{
    background: #000000;
    
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 60px;
    background: linear-gradient(rgba(0,0,0) 0%, rgba(0,0,0, 0.0) 100%);
    position: fixed;
    border: solid 0px #ffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.co-logo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border: solid 0px #ffff;
}
.logo img{
  width: 100%;
  max-width: 150px;
}
.regist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    border: solid 0px #ffff;
    height: auto;
    margin-bottom: 30px;
}
.button-1{
    width: 200px;
    height: 45px;
    border-radius: 0.31em;
    
    font-size: 18px;
    color: #ffff;
    background: rgba(255, 2, 2, 0.7);
}
.co-des{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.co-des h6{
    width: 100%;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
.co-des h4{
    width: 100%;
    font-size: 50px;
    font-family: sans-serif;
    color: rgb(255, 255, 255, 0.7);
    margin-top: 20px;
}
.raya{
    width: 50%;
    border-bottom: solid 2px rgb(255, 0, 0, 0.3);
    
}

.co-des-a{
    width: 100%;
    margin-top: 30px;
    
}
.co-des-a a{
    background: rgba(255, 2, 2, 0.7);
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 20px;
    text-decoration: none;
    
}
.co-des-a a:hover, .button-1:hover{
	background: #fff;
	color: #000;
    cursor: pointer;
}
.co-des-p{
    width: 100%;
    border: solid 0px #ffff;
    margin-top: 20px;  
        
}
.co-des-p p{
    color: rgb(255, 255, 255, 0.4);
    font-size: 30px;
        
}
.section_2_info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 0px #fff;
    margin-top: 40px;
    background: linear-gradient(rgba(0,0,0) 0%, rgb(49, 4, 4) 100%);
}
.info{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 0px #fff;
}
.img_info{
    width: 100%;
    padding: 10px;
}
.info h1, .info p{
    color: #fff;
    width: 100%;
    margin: 7px;
    text-align: justify;
}

@media screen and (max-width: 800px){
    .co-des-p p{
        font-size: 20px;
            
    }
    .co-des-a a{
        font-size: 14px;
    }
    .co-des h4{
        font-size: 20px;
    }
    .co-des h6{
        font-size: 20px;
    }
    
    .logo img{
        width: 100%;
        max-width: 100px;
        
      }
      .button-1{
        width: 150px;
        height: 40px;
        border-radius: 0.31em;
        font-size: 14px;
       
    }
    .iframe-drive iframe{
        max-width: 520px;
        height: 1000px;
       
    }
    .co-co-p{
        font-size: 18px;
        padding: 20px 20px;
    }   
   
}


.modal-formulario{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0) 100%), url(https://images3.alphacoders.com/698/thumb-1920-69837.jpg);
    min-height: 30.62em;
    background-repeat: no-repeat;
    background-position:  center center;
	background-size: cover;
    display: block;
    transition: all 0.4s;
    bottom: -100%;
    
}
.co-navegacion{
    width: 100%;
    height: 40px;
}
.modal-formulario .bi-arrow-left-short{
    font-size: 30px;
    margin-right: 7px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
}
.modal-formulario a{
    text-decoration: none;
    font-size: 25px;
}
.co-flecha-f{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: fixed;
}


.formulario-drive{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px 20px;
    background: rgb(0, 0, 0, 0.1);
   
}
.iframe-drive{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.1);
    border: solid 0px rgb(105, 0, 0);
    height: 1000px;
    
   
}
.iframe-drive iframe{
    width: 720px;
    height: 1000px;
    border-radius: 20px 20px;
}
.co-formulario-p{
    border: solid 0px rgb(105, 0, 0);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   text-align: center;
    font-size: 25px;
    text-align: justify;
    
}
.co-co-p{
    width: 640px; 
}
.co-formulario-p p{
    
    color: rgb(255, 255, 255, 0.7);
   
}
